h1{
font-family: monospace;
text-align: center;
font-size: 5em;
margin-bottom: -50px;
}
h2{
font-family: monospace;
text-align: center;
font-size: 3em;
}
img{
display: block;
margin: 0 auto;
}
